.item {
  width: 144px;
  height: 106px;
  padding: 22px 12px 0px 12px;

  background-color: var(--side-panel-bg);
}

.item:nth-child(odd) > .data {
  color: var(--brand-primary);
}

.item:nth-child(even) > .data {
  color: var(--brand-secondary);
}

.products {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;

  position: relative;

  color: var(--text-light);
}

.products::before {
  content: " ";
  height: 2px;
  width: 16px;

  position: absolute;
  top: -10px;
  left: 0px;

  border-radius: 20px;

  background-color: var(--text-light);
}

.data {
  font-size: 60px;
  font-weight: 600;
  line-height: 1.3;
  text-align: right;
}
